body {
  margin: 0px;
  padding: 0px;
  background-color: #EEE;
}
.card{
  height: auto ;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.card-title{
  background-color: greenyellow;
  display: block;
  font-size: 22px;
}
.card-text{
  background-color: #d3251d;
}
.btn{
  background-color: transparent;
  margin: 10px;
}
