/* body{
    margin: 0;
    padding: 0;
    margin-top: 3vh;
    background-color: black;
} */
/* div{
    border: 1px solid black;
} */
/* .first{
    height: 100px;
    width: 12vh;
    float: left;
    background-color: white;
    border: 1px solid black;
}
.second{
    height: 100px;
    width: 12vh;
    float: left;
    background-color: black;
    border: 1px solid black;
} */

/* Class Work __01 */
/* .green{
    background-color: rgb(22 163 74);
    width: 100vw;
    height: 100px;
    float: left;
}
.orange{
    background-color:orange;
    width: 33vw;
    height: 300px;
    float: left;
}
.blue{
    background-color:blue;
    width: 33vw;
    height: 300px;
    float: left;
}
.darkred{
    background-color: rgb(220 38 38);;
    width: 32vw;
    height: 300px;
    float: left;
}
.red{
    background-color:red;
    width: 100vw;
    height: 300px;
    float: left;
} */

/* Class _Work 02 */

/* .a{
    background-color:red;
    width: 33vw;
    height: 100px;
    float: left;
}
.b{
    background-color: rgb(74 222 128);;
    width: 33vw;
    height: 100px;
    float: left;
}
.c{
    background-color: rgb(84, 82, 222);;
    width: 33vw;
    height: 100px;
    float: left;
}
.d{
    background-color: rgb(214, 230, 30);;
    width: 33vw;
    height: 120px;
    float: left;
}
.e{
    background-color: rgb(215, 42, 42);;
    width: 66vw;
    height: 120px;
    float: left;
}
.f{
    background-color: pink;
    width: 25vw;
    height: 200px;
    float: left;
}
.g{
    background-color: orange;
    width: 50vw;
    height: 200px;
    float: left;
}
.h{
    background-color: rgb(132, 30, 216);
    width: 24vw;
    height: 200px;
    float: left;
}
.i{
    background-color:green;
    width: 25vw;
    height: 200px;
    float: left;
}
.j{
    background-color: purple;
    width: 25vw;
    height: 200px;
    float: left;
}
.k{
    background-color: aliceblue;
    width: 25vw;
    height: 200px;
    float: left;
}
.l{
    background-color: rgb(214, 118, 83);
    width: 24vw;
    height: 200px;
    float: left;
} */



/* .r11{
    background-color: black;
    width: 40vw;
    height: 100px;
    float: left;
}
.r12{
    background-color: rgb(255, 0, 0);
    width: 20vw;
    height: 100px;
    float: left;
}
.r13{
    background-color: black;
    width: 40vw;
    height: 100px;
    float: left;
}
.r21{
    background-color: black;
    width: 20vw;
    height: 100px;
    float: left;
}
.r22{
    background-color: yellow;
    width: 20vw;
    height: 100px;
    float: left;
}
.r23{
    background-color: green;
    width: 20vw;
    height: 100px;
    float: left;
}
.r24{
    background-color: rgb(58, 80, 204);
    width: 20vw;
    height: 100px;
    float: left;
}
.r25{
    background-color: black;
    width: 20vw;
    height: 100px;
    float: left;
}
.r31{
    background-color: green;
    width: 20vw;
    height: 100px;
    float: left;
}
.r32{
    background-color: lightskyblue;
    width: 20vw;
    height: 100px;
    float: left;
}
.r33{
    background-color: darkred;
    width: 20vw;
    height: 100px;
    float: left;
}
.r34{
    background-color: pink;
    width: 20vw;
    height: 100px;
    float: left;
}
.r35{
    background-color: lightgreen;
    width: 20vw;
    height: 100px;
    float: left;
}
.r41{
    background-color: black;
    width:40vw;
    height: 100px;
    float: left;
}
.r42{
    background-color: yellow;
    width: 20vw;
    height: 100px;
    float: left;
}
.r43{
    background-color: rgb(206, 121, 17);
    width: 20vw;
    height: 100px;
    float: left;
}
.r44{
    background-color: black;
    width: 20vw;
    height: 100px;
    float: left;
}
.r51{
    background-color: black;
    width: 40vw;
    height: 100px;
    float: left;
}
.r52{
    background-color: rgb(255, 0, 0);
    width: 20vw;
    height: 100px;
    float: left;
}
.r53{
    background-color: black;
    width: 40vw;
    height: 100px;
    float: left;
} */